body{
    padding-top: 5rem;
}

.jumbotron .container {
    max-width: 50rem;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.app-content {
    flex: 1;
}

footer p {
    margin-bottom: 0;
}